/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.sugimori {
  width: 400px;
  height: 400px;
  background-color: white;
  border: 5px solid black; }

.pokemon {
  width: 300px;
  height: 300px;
  padding: 50px;
  display: block;
  margin: 0 auto; }

.sprite-div {
  width: 106px;
  height: 136px;
  text-align: center; }

.sprite {
  background-color: white;
  border: 5px solid black;
  width: 96px;
  height: 96px; }

.sprite-div button {
  margin: 5px auto 0; }

.loader-invisible {
  display: none; }

.loader-visible {
  display: block;
  width: 400px;
  height: 400px;
  border: 5px solid black; }

.pkmn-name {
  font-size: 25px;
  margin-left: 420px; }

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #822824; }

.pokeDetails-invisible {
  display: none; }

.pokeDetails-visible {
  display: block; }

.error-invisible {
  display: none; }

.error-visible {
  display: block; }

.normal-visible {
  display: block; }

.normal-invisible {
  display: none; }

.shiny-visible {
  display: block; }

.shiny-invisible {
  display: none; }
