/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  color: white;
  background-color: black;
  height: 25px; }

.sugimori {
  float: left;
  width: 450px;
  height: 450px;
  margin-left: 2%;
  background-color: white;
  border: 5px solid black; }

.pokemon {
  max-width: 75%;
  height: 75%;
  padding: 12.5%;
  display: block;
  margin: 0 auto; }

.sprite-div {
  width: 106px;
  height: 136px;
  float: right;
  margin-right: 250px;
  margin-top: 55px;
  text-align: center; }

.sprite {
  background-color: white;
  border: 5px solid black;
  width: 96px;
  height: 96px; }

.sprite-div button {
  margin: 5px auto 0; }

.loader-invisible {
  display: none; }

.loader-visible {
  display: block;
  width: 450px;
  height: 450px;
  margin: 2% 0 0 2%;
  border: 5px solid black; }

.poke-info {
  margin: 2% 0 0 490px; }

.pkmn-name {
  font-size: 25px; }

.type {
  margin-top: 5px;
  margin-left: 10px; }

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #822824; }

.App {
  width: 850px;
  height: 520px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.6);
  border: 5px solid black; }

.pokeDetails-invisible {
  display: none; }

.pokeDetails-visible {
  display: block; }

.error-invisible {
  display: none; }

.error-visible {
  display: block;
  font-size: 40px;
  text-align: center;
  padding-top: 40px; }

.normal-visible {
  display: block; }

.normal-invisible {
  display: none; }

.shiny-visible {
  display: block; }

.shiny-invisible {
  display: none; }

.welcome-visible {
  display: block;
  font-size: 50px;
  text-align: center;
  margin: 0 auto; }
  .welcome-visible p {
    margin: 30px 0; }
  .welcome-visible img {
    width: 300px; }

.welcome-invisible {
  display: none; }
