header {
  color: white;
  background-color: black;
  height: 28px;
  input {
    margin-left: 8px;
  }
  button {
    margin-left: 5px;
  }
}

.pokeball {
  float: left;
  width: 22px;
  // margin-left: 2px;
  animation: spin infinite 10s linear;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bulbapedia-invisible {
  display: none;
}

.bulbapedia-visible {
  display: block;
  float: right;
  margin-right: 5px;
  width: 22px;
}
