.sugimori {
  float: left;
  width: 450px;
  height: 450px;
  margin-left: 2%;
  background-color: white;
  border: 5px solid black;
}

.pokemon {
  max-width: 75%;
  height: 75%;
  padding: 12.5%;
  display: block;
  margin: 0 auto;
}

.sprite-div {
  width: 106px;
  height: 136px;
  float: right;
  margin-right: 250px;
  margin-top: 55px;
  text-align:center;
}

.sprite {
  background-color: white;
  border: 5px solid black;
  width: 96px;
  height: 96px;
}

.sprite-div button {

  margin: 5px auto 0;
}
