.sugimori {
  width: 400px;
  height: 400px;
  background-color: white;
  border: 5px solid black;
}

.pokemon {
  width: 300px;
  height: 300px;
  padding: 50px;
  display: block;
  margin: 0 auto;
}

.sprite {
  background-color: white;
  border: 5px solid black;
  width: 96px;
  height: 96px;
}
