.sugimori {
  float: left;
  width: 450px;
  height: 450px;
  margin-left: 2%;
  background-color: white;
  border: 5px solid black;
}

.pokemon {
  max-width: 75%;
  height: 75%;
  padding: 12.5%;
  display: block;
  margin: 0 auto;
}

.sprite-div {
  // width: 208px;
  width: 230px;
  height: 136px;
  text-align: center;
  .sprite, .back-sprite {
    background-color: white;
    border: 4px solid black;
    width: 96px;
    height: 96px;
    margin-bottom: 10px;
  }
  .sprite {
    float: left;
  }
  .back-sprite {
    float: right;
  }
  button {
    margin: 0 auto;
  }
}

.normal-visible {
  display: block;
}

.normal-invisible {
  display: none;
}

.shiny-visible {
  display: block;
}

.shiny-invisible {
  display: none;
}
