.sugimori {
  // float: left;
  width: 400px;
  height: 400px;
  background-color: white;
  border: 5px solid black;
}

.pokemon {
  width: 300px;
  height: 300px;
  padding: 50px;
  display: block;
  margin: 0 auto;
}

.sprite-div {
  width: 106px;
  height: 136px;
  // border: 1px solid white;
  text-align:center;
}

.sprite {
  background-color: white;
  border: 5px solid black;
  width: 96px;
  height: 96px;
}

.sprite-div button {

  margin: 5px auto 0;
}
