@media (max-width: 900px) {
  .App {
    width: 75%;
    height: 865px;
  }
  .welcome-visible {
    font-size: 45px;
  }
  .sugimori, .loader-visible {
    margin: 20px auto 0 auto;
    float: none;
    width: 350px;
    height: 350px;
  }
  .pokemon {
    float: left;
    max-width: 95%;
    height: 95%;
    padding: 2.5%;
  }
  .poke-info {
    margin: 2% auto 0 auto;
    text-align: center;
    font-size: 15px;
  }
  .pkmn-name {
    font-size: 20px;
  }
  .loader-visible {
    width: 350px;
    height: 350px;
    img {
      max-width: 95%;
      height: 95%;
      padding: 2.5%;
    }
  }
  .sprite-div {
    margin: 10px auto 0 auto;
  }
}

@media (max-width: 510px) {
  .App {
    width: 350px;
    height: 810px;
  }
  .sugimori, .loader-visible {
    width: 300px;
    height: 300px;
  }
}
