@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #822824;
}

.pokeDetails-invisible {
  display: none;
}

.pokeDetails-visible {
  display: block;
}

.loader-invisible {
  display: none;
}

.loader-visible {
  display: block;
}

.error-invisible {
  display: none;
}

.error-visible {
  display: block;
}

.normal-visible {
  display: block;
}

.normal-invisible {
  display: none;
}

.shiny-visible {
  display: block;
}

.shiny-invisible {
  display: none;
}

.sprite {
  width: 96px;
  height: 96px;
}
