@import 'reset';
@import 'header';
@import 'images';
@import 'loader';
@import 'text';
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #822824;
}

.App {
  width: 850px;
  height: 520px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.6);
  border: 5px solid black;
}

.pokeDetails-invisible {
  display: none;
}

.pokeDetails-visible {
  display: block;
}

.error-invisible {
  display: none;
}

.error-visible {
  display: block;
}

.normal-visible {
  display: block;
}

.normal-invisible {
  display: none;
}

.shiny-visible {
  display: block;
}

.shiny-invisible {
  display: none;
}



.welcome-visible {
  display: block;
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  p {
    margin: 30px 0;
  }
  img {
    width: 300px;
  }
}

.welcome-invisible {
  display: none;
}
